<div class="button">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label for="fullname">Full Name</label>
    <input type="text" name="user[fullname]" class="form-control" id="fullname" placeholder="Jane Doe" autofocus="true">
  </div>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <label>Are You A Teacher?</label>
    <label class="radio-inline">
      <input type="radio" name="user[teacher]" id="teacher1" value="1"> Yes
    </label>
  </div>

  <div class="field">
    <label>Are You A Student?</label>
    <label class="radio-inline">
      <input type="radio" name="user[student]" id="student1" value="1"> Yes
    </label>
  </div>

  <% content_for :javascripts do %>
  <script type='text/javascript'>
      $(document).ready(function(){
        $("#teacher1").click(function() {
          if ($(this).is(":checked")) {
            $('#student1').prop("checked", false);
            $(this).prop("checked", true);
          } else {
            $(this).prop("checked", false);
          }
        });
        $("#student1").click(function() {
          if ($(this).is(":checked")) {
            $('#teacher1').prop("checked", false);
            $(this).prop("checked", true);
          } else {
            $(this).prop("checked", false);
          }
        });
      });
  </script>
<% end %>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
