
  <section class="no-padding" id="portfolio">
    <br>
      <div class="span12" style="text-align:left">
        <p><a class="btn btn-primary btn-sm" href="/" role="button">Go Back</a></p>
         </div>
           <div class="container-fluid">
             <div class="well-sm" align="center" style="padding: 3%" >
           <a class="portfolio-box">
          <%= image_tag "portfolio/9.png", class: 'img-responsive' %>        
        </a>
      </div>
      <div class="row no-gutter">
        <div class="col-md-4-offset-2 col-sm-6">
          <a href="/welcome/sabina_about" class="portfolio-box">
          <%= image_tag "portfolio/1.jpg", class: 'img-responsive' %>
             <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Sabina Shrestha
                </div>
                <div class="project-name">
                  Click for more info about Sabina
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4-offset-2 col-sm-6">
          <a href="/welcome/darren_about" class="portfolio-box">
          <%= image_tag "portfolio/2.jpg", class: 'img-responsive' %>
             <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Darren Bell
                </div>
                <div class="project-name">
                  Click for more info about Darren
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4-offset-2 col-sm-6">
          <a href="/welcome/steph_about" class="portfolio-box">
          <%= image_tag "portfolio/3.jpg", class: 'img-responsive' %>
             <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Stephanie Shultz
                </div>
                <div class="project-name">
                  Click for more info about Stephanie
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4-offset-2 col-sm-6">
          <a href="/welcome/tyler_about" class="portfolio-box">
          <%= image_tag "portfolio/4.jpg", class: 'img-responsive' %>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Tyler Russon
                </div>
                <div class="project-name">
                  Click for more info about Tyler
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
        <div class="well-sm" align="right" style="padding: 3%" >
          <a href="http://www.devpointlabs.com/" class="portfolio-box">
            <%= image_tag "portfolio/DPL.gif", class: 'img-responsive' %>
              </div>
                </div>
                  </a>
                    <div class="span12" style="text-align:center">
                  <p><a class="btn btn-primary btn-lg" href="/welcome/about_this_app" role="button">Cool Stuff Inside</a></p>
              </div>
            <div class="span12" style="text-align:center">
          <p><a class="btn btn-primary btn-lg" href="/welcome/story" role="button">Story Behind This App</a></p>
        </div>
      </div>      
    </div>
  </section>

