<h1>Enrollment</h1>
<h3>My Current Activities</h3>
<br />
  <table class="table">
    <tr>
      <th>Activity Name</th>
      <th>Start Date</th>
      <th class="hidden-sm hidden-xs">End Date</th>
      <th class="hidden-sm hidden-xs">Location</th>
      <th class="hidden-sm hidden-xs">Permission Slip</th>
      <th>Show Activity</th>
      <th class="hidden-sm hidden-xs">Edit Activity</th>
      <th class="hidden-sm hidden-xs">Delete</th>
    </tr>
    <% @current_teacher.activities.each do |myactivity| %>
      <% if myactivity.start.to_date <= Date.today.to_date && myactivity.end.to_date >= Date.today.to_date %>
        <tr>
          <td><%= myactivity.name %></td>
          <td><%= local_relative_time(myactivity.start, type: 'time-or-date') %></td>
          <td class="vhidden-sm hidden-xs"><%= local_relative_time(myactivity.end, type: 'time-or-date') %></td>
          <td class="hidden-sm hidden-xs"><%= myactivity.location %></td>
          <td class="hidden-sm hidden-xs" style="text-align: center;">
            <% if myactivity.permission_slip %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
            <%= link_to activity_path(myactivity), class: "btn btn-primary" do %>
              <i class="glyphicon glyphicon-eye-open"></i>
            <% end %>
          </td>
          <td class="hidden-sm hidden-xs">
            <%= link_to edit_activity_path(myactivity), class: "btn btn-info" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          </td>
          <td class="hidden-sm hidden-xs">
            <%= link_to activity_path(myactivity), method: :delete, class: "btn btn-danger" do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br>
  <br>


<h3>My Up Coming Activities</h3>
  <table class="table">
    <tr>
      <th>Activity Name</th>
      <th>Start Date</th>
      <th class="hidden-sm hidden-xs">End Date</th>
      <th class="hidden-sm hidden-xs">Location</th>
      <th class="hidden-sm hidden-xs">Permission Slip</th>
      <th>Show Activity</th>
      <th class="hidden-sm hidden-xs">Edit Activity</th>
      <th class="hidden-sm hidden-xs">Delete</th>
    </tr>
    <% @current_teacher.activities.each do |myactivity| %>
      <% if myactivity.start.to_date > Time.now.to_date %>
        <tr>
          <td><%= myactivity.name %></td>
          <td><%= local_relative_time(myactivity.start, type: 'time-or-date') %></td>
          <td class="hidden-sm hidden-xs"><%= local_relative_time(myactivity.end, type: 'time-or-date') %></td>
          <td class="hidden-sm hidden-xs"><%= myactivity.location %></td>
          <td class="hidden-sm hidden-xs" style="text-align: center;">
            <% if myactivity.permission_slip %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
            <%= link_to activity_path(myactivity), class: "btn btn-primary" do %>
              <i class="glyphicon glyphicon-eye-open"></i>
            <% end %>
          </td>
          <td class="hidden-sm hidden-xs">
            <%= link_to edit_activity_path(myactivity), class: "btn btn-info" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
          </td>
          <td class="hidden-sm hidden-xs">
            <%= link_to activity_path(myactivity), method: :delete, class: "btn btn-danger" do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br>
  <br>


<h3>Activities Completed</h3>
  <table class="table">
    <tr>
      <th>Activity Name</th>
      <th>Start Date</th>
      <th class="hidden-sm hidden-xs">End Date</th>
      <th class="hidden-sm hidden-xs">Location</th>
      <th class="hidden-sm hidden-xs">Permission Slip</th>
      <th>Show Activity</th>
    </tr>
    <% @current_teacher.activities.each do |myactivity| %>
       <% if myactivity.end.to_date < Date.today.to_date %>
        <tr>
          <td><%= myactivity.name %></td>
          <td><%= local_relative_time(myactivity.start, type: 'time-or-date') %></td>
          <td class="hidden-sm hidden-xs"><%= local_relative_time(myactivity.end, type: 'time-or-date') %></td>
          <td class="hidden-sm hidden-xs"><%= myactivity.location %></td>
          <td class="hidden-sm hidden-xs" style="text-align: center;">
            <% if myactivity.permission_slip %>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
            <%= link_to activity_path(myactivity), class: "btn btn-primary" do %>
              <i class="glyphicon glyphicon-eye-open"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
