
<%= form_for :activity_students do |f| %>
  <% @students.each do |student| %>
    <%= f.label student.name %>
    <%= f.check_box :student_id %>
  <% end %>

 <%= link_to "Add Students", add_students_path(params[:activity_id]), :class => "btn btn-success", method: :post %>

 <% end %>





 <table class="table">
    <tr>
      <th>check Box</th>
      <th>Student Name</th>
      <th>Student phone</th>
    </tr>
  <% @students.each do |student| %>
  <tr>
    <td><input type="checkbox"  name="present"  /></td>
    <td><%= student.name %></td>
    <td><%= student.phone %></td>
  </tr>
  <% end %>
</table>