<table class="table">
  <tr>
    <th colspan="2"><h2> Enroll Students</h2></th>
  </tr>
  <% @students.each do |student| %>
      <tr>
        <td>
          <strong><%= student.name %></strong>
        </td>
        <td>
          <% if student.activities.include? Activity.find(params[:activity_id]) %>
            <%= link_to "Unenroll Student", remove_student_path(params[:activity_id], student_id: student.id), remote: true , :class => "btn btn-danger", id: "button" + student.id.to_s %>
          <% else %>
            <%= link_to "Add Student", add_student_path(params[:activity_id], student_id: student.id), remote: true , :class => "btn btn-success", id: "button" + student.id.to_s %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

<br />
<div class="row visible-sm-block visible-xs-block">
<div class="col-sm-12">
  <% @students.each do |student| %>
    <% if activity.start.to_date <= Date.today.to_date && activity.end.to_date >= Date.today.to_date %>
      <%= link_to activity_path(activity), class: "btn btn-default" do %>
        <td><%= student.name %></td>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
