  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header text-center">Activities
        <% if current_user.teacher? %>
          <%= link_to new_activity_path, class: "btn btn-success" do %>
            <i class="glyphicon glyphicon-plus"></i>
          <% end %>
        <% end %>
        <p align="right">
        </p></h1>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div id="map" style="width: 100%; height: 350px;"></div>
      </div> <!-- /col-md-12 -->
  </div> <!-- /row -->
  <div class="row">
    <div class="col-md-12">
      <%= form_tag("/activities/search", method: "post") do %>
        <div class="form-group">
          <label for="name">Search Activities: </label>
          <input name="search" type="text" class="form-control" id="search" placeholder="Search by keyword">
        </div>
        <button type="submit" class="btn btn-default">Search Activities</button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"><h2>Current event </h2>
      <table class="table table-hover table-responsive">
        <tr>
          <th>Activity Name</th>
          <th>Start Date</th>
          <th class="hidden-sm hidden-xs">End Date</th>
          <th>Location</th>
          <th class="hidden-sm hidden-xs">Permission Slip?</th>
          <% if @current_teacher.present? %>
            <th>View Activity</th>
          <% end %>
          <% if @current_student.present? %>
            <th>View Activity</th>
            <th class="hidden-sm hidden-xs">Sign Up/Out?</th>
          <% end %>
        </tr>
        <% @activities.each do |activity| %>
          <% if activity.start.to_date <= Date.today.to_date && activity.end.to_date >= Date.today.to_date %>
            <tr>
              <td><%= activity.name %></td>
              <td><%= local_relative_time(activity.start, type: 'time-or-date') %></td>
              <td class="hidden-sm hidden-xs"><%= local_relative_time(activity.end, type: 'time-or-date') %></td>
              <td><%= activity.location %></td>
              <td class="hidden-sm hidden-xs" style="text-align: center;">
                <% if activity.permission_slip %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
              </td>
              <% if @current_teacher.present? %>
                <td>
                  <%= link_to activity_path(activity), class: "btn btn-primary" do %>
                    <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                </td>
              <% end %>
              <% if @current_student.present?  %>
                <% attending = activity.students.exists? @current_student.id %>
              <% end %>
              <% if @current_student.present? %>
                <td>
                  <%= link_to activity_path(activity), class: "btn btn-primary" do %>
                    <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                </td>
                <td>
                  <% if attending %>
                    <%= link_to student_sign_up_path(activity), class: "btn btn-danger" do %>
                      <i class="glyphicon glyphicon-trash"></i>
                    <% end %>
                  <% else %>
                    <%= link_to student_sign_up_path(activity), class: "btn btn-primary" do %>
                      <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div><!-- /current event -->
  <div class="row">
    <div class="col-md-12">
      <h2>Future event </h2>
      <table class="table table-hover">
        <tr>
          <th>Activity Name</th>
          <th>Start Date</th>
          <th class="hidden-sm hidden-xs">End Date</th>
          <th>Location</th>
          <th class="hidden-sm hidden-xs">Permission Slip?</th>
            <% if @current_teacher.present? %>
              <th>View Activity</th>
             <!--  <th>Edit Activity</th>
              <th>Delete Activity</th> -->
            <% end %>
            <% if @current_student.present? %>
              <th>Sign Up/Out?</th>
            <% end %>
          </tr>
          <% @activities.each do |activity| %>
            <% if activity.start.to_date > Time.now.to_date %>
        <!-- Future activity  -->
            <tr>
              <td><%= activity.name %></td>
              <td><%= local_relative_time(activity.start, type: 'time-or-date') %></td>
              <td class="hidden-sm hidden-xs"><%= local_relative_time(activity.end, type: 'time-or-date') %></td>
              <td><%= activity.location %></td>
              <td class="hidden-sm hidden-xs" style="text-align: center;">
                <% if activity.permission_slip %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
              </td>
              <% if @current_teacher.present? %>
                <td>
                  <%= link_to activity_path(activity), class: "btn btn-primary" do %>
                    <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                </td>
              <% end %>
              <% if @current_student.present?  %>
                <% attending = activity.students.exists? @current_student.id %>
              <% end %>
              <% if @current_student.present? %>
                <td>
                  <% if attending %>
                    <%= link_to student_sign_up_path(activity), class: "btn btn-danger" do %>
                      <i class="glyphicon glyphicon-erase"></i>
                    <% end %>
                  <% else %>
                    <%= link_to student_sign_up_path(activity), class: "btn btn-primary" do %>
                      <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div><!-- /future event -->
  <div class="row">
    <div class="col-md-12">
      <h2>Completed event </h2>
      <table class="table table-hover">
        <tr>
          <th>Activity Name</th>
          <th>Start Date</th>
          <th class="hidden-sm hidden-xs">End Date</th>
          <th>Location</th>
          <th class="hidden-sm hidden-xs">Permission Slip?</th>
            <% if @current_teacher.present? %>
              <th>View Activity</th>
            <% end %>
        </tr>
        <% @activities.each do |activity| %>
          <% if activity.end.to_date < Date.today.to_date %>
        <!-- Completed activity -->
            <tr>
              <td><%= activity.name %></td>
              <td><%= local_relative_time(activity.start, type: 'time-or-date') %></td>
              <td class="hidden-sm hidden-xs"><%= local_relative_time(activity.end, type: 'time-or-date') %></td>
              <td><%= activity.location %></td>
              <td class="hidden-sm hidden-xs" style="text-align: center;">
                <% if activity.permission_slip %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <% end %>
              </td>
              <% if @current_teacher.present? %>
                <td>
                  <%= link_to activity_path(activity), class: "btn btn-primary" do %>
                    <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                </td>
              <% end %>
              <% if @current_student.present?  %>
                <% attending = activity.students.exists? @current_student.id %>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div> <!-- /completed event -->

<% content_for :javascripts do %>
  <script type="text/javascript">
    handler = Gmaps.build('Google');
    jQuery(document).ready(function() {
        var locations_json = <%=raw @locations.to_json %>
      handler = Gmaps.build('Google', { markers: { maxRandomDistance: null } });
      handler.buildMap({ provider: {}, internal: {id: 'map'}, list_container: "markers_list"}, function(){
        markers = handler.addMarkers(locations_json);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(12);

        _.each(locations_json, function(json, index){
            json.marker = markers[index];
          });

          createSidebar(locations_json);
      });


      function createSidebarLi(json){
          return ("<li><a>" + json.name + "</a></li>");
        };

        function bindLiToMarker($li, marker){
          $li.on('click', function(){
            handler.getMap().setZoom(14);
            marker.setMap(handler.getMap());
            marker.panTo();
            google.maps.event.trigger(marker.getServiceObject(), 'click');
          })
        };

        function createSidebar(json_array){
          _.each(locations_json, function(json){
            var $li = $( createSidebarLi(json) );
            $li.appendTo('#markers_list');
            bindLiToMarker($li, json.marker);
          });
        };
    });
  </script>
<%end%>
