  <%#= Date.today + 1%>
    <% @activities.each do |activity| %>
      <% if activity.start.to_date > Time.now.to_date %>
        <!-- Future activity -->
        <h2>Future</h2>
        <%= activity.name %> 
        <%= activity.start %> 
        <%= activity.end%> 
        <br>
        
      <% elsif activity.start.to_date <= Date.today.to_date && activity.end.to_date >= Date.today.to_date %>
        <!-- Current activity  -->
        <h2>Current</h2>
        <%= activity.name %> 
        <%= activity.start %> 
        <%= activity.end%> 
        <br>

      <% elsif activity.end.to_date < Date.today.to_date %>
        <!-- Completed activity -->
        <h2>Completed</h2>
        <%= activity.name %> 
        <%= activity.start %> 
        <%= activity.end%> 
        <br>
      <% else %>
        <h2>Didn't work</h2>
      <% end %>
    <% end %>
     