<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Show Activity</h1>
    <div>
      <h3><%= @activity.name %></h3>
      <!-- link_to "Choose Students", choose_students_path(@activity.id), :class => "btn btn-default" %> -->
      <%= link_to "Delete Activity", activity_path(@activity.id), :class => "btn btn-danger", method: :delete %>
      <%= link_to "Edit Activity", edit_activity_path(@activity.id), :class => "btn btn-info" %>
      <table>
        <tr>
          <th>Students</th>
          <th><%= Date.today %></th>
          <th></th>
        </tr>
        <% @activity.students.each do |student| %>
        <br>
        <tr>
          <td><%= student.name %></td>
          <td><input value="1" name="attendance" type="checkbox"/></td>
          <td><%= link_to "Save Attendance", activity_attendance_path(@activity.id, student.id), :class => "btn btn-success" %></td>
        </tr>
        <% end %>
      </table>
      <!-- <%#= link_to "Attendance", :action => :attendance, :id => student.id %> -->
    </div>



  </div>
  <br>
</div>
